@{
    ViewBag.Title = "好油菜";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .bar-nav ~ .content{top: 0;}
</style>
<div id="miti" class="page page-current">
    @Html.Partial("m_header")
    @Html.Partial("m_footer")
    @*<div class="bar bar-nav questionsearch">
        <ul class="sitem">
            <li data-key="isright" class="cur">未被答对</li>
            <li data-key="2">评论最多</li>
            <li data-key="1">悬赏最多</li>
        </ul>
    </div>*@
    <div class="content p2 content-padded">
        @Html.Action("QuestionesList")
    </div>
</div>
 

 


 
 
