@{
    ViewBag.Title = "消息提示";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/course.css" rel="stylesheet" />

<div class="container">
        <div class="header"><a href="@Url.Action("Index", "Home")"></a><span>消息提示</span></div>
        @Html.Partial("info")
    </div>
