@{
    ViewBag.Title = "SayLove";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page page-current">
    <div class="content">
        <div style="padding: 20px; ">
            <p>幸福是否有些遥远</p>
            <p>接连的伤害与重担</p>
            <p>让你失去留恋</p>
            <p>独自走了很久，前路依旧不平坦</p>
            <p>有谁可曾看见!</p>
            <p style="border-bottom: 1px dotted gray"></p>
            <p>狂风暴雨过后</p>
            <p>夜深人静的时候</p>
            <p>谁还在自我边缘</p>
            <p>孤单中毒太深</p>
            <p>爱的能力恐已溃散</p>
            <p>只有在身边!</p>
            <p style="border-bottom: 1px dotted gray"></p>
            <p>截断这口中无形刃</p>
            <p>思过崖唯有你在心间</p>
            <p>看日出白云边</p>
            <p>苦中苦，三年又何叹！</p>
            <p>不顾妻儿，何以男子汉</p>
            <p>爱人不在言</p>

        </div>
    </div>
</div>