@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: hyxmtj;
    /*src: url("../fonts/hyxmtj,.eot");*/ /* IE9 */
    /*src:  url("../fonts/hyxmtj.woff") format("woff")*/ /* chrome firefox */
        /*url("../fonts/hyxmtj,.eot?#iefix") format("embedded-opentype"),*/ /* IE6-IE8 */
    /*url("../fonts/hyxmtj,.ttf") format("truetype"),*/ /* chrome firefox opera safari, Android, iOS 4.2+ */
    /*url("../fonts/hyxmtj,.svg#hyxmtj,") format("svg");*/ /* iOS 4.1- */
}
*{ padding:0; margin:0;}
html{ font-size:62.5%;}
body{ font-size:4rem;}
html,body,.container{ width:100%; height:100%;}
img,input{ border:none;}
ul,li{ text-decoration:none; margin:0; border:0; padding:0; list-style:none;}
.none{ display:none;}

#content,.wrapper{ height: 100%;}
.container{ width:100%; height:100%;}
.header{ position:relative; background:#f8f8f8; height:3.6rem; border-bottom:1px solid #bbbbbb;}
.header a{ position:absolute; left:1rem; top:50%; margin-top:-0.9rem; width:1.8rem; height:1.8rem; background:url(../images/back.png) no-repeat; background-size:100%,100%;}
.header span{ position:absolute; left:50%; margin-left:-40%; line-height:3.6rem; font-size:1.8rem; font-family:"Microsoft YaHei"; width:80%; text-align:center;}
.header #photo{position: absolute; right:1rem;left: 95%;top:50%;margin-top:-0.9rem; width:1.8rem; height:1.8rem; background:url(../images/back.png) no-repeat; background-size:100%,100%;}

.content{ padding-left:2rem; padding-top:11%; font-family:hyxmtj,Microsoft JhengHei ; font-size:2rem; text-shadow:0.5px 1px 1px #e3eab7; background:-moz-linear-gradient(top,#fdd2ac,#f6e3fd);/*火狐*/ 
background: -webkit-linear-gradient(top, #fdd2ac, #f6e3fd);   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(top, #fdd2ac, #f6e3fd);  /*Opera 11.10+*/}

.content.index,.content.full{ text-align: center;height:  calc(100vh - 4.3em);overflow: auto;}
.content.full{  height:  calc(100vh - 3.3em);text-align: left;line-height: 1.5em}
.content.full .contentfooter{ text-align: right;margin-top: 1rem;padding: 1rem;}
.content.full ul li ,.content.full .text p{ margin-bottom:1rem;}
.content.index ul li { margin-bottom: 3rem;}

.bg1{ background:-moz-linear-gradient(top,#fde87f,#ecfddb);/*火狐*/ 
background: -webkit-linear-gradient(top, #fde87f, #ecfddb);   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(top, #fde87f, #ecfddb);  /*Opera 11.10+*/}

.bg2{ background:-moz-linear-gradient(top,#c4e9f5,#defbb0);/*火狐*/ 
background: -webkit-linear-gradient(top, #c4e9f5, #defbb0);   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(top, #c4e9f5, #defbb0);  /*Opera 11.10+*/}
.bg3{ background: white;}
.content.exam{ padding-top: 0;}
.content.exam .info{ padding:3rem 2rem 1rem 2rem;margin-left: -2rem;border-bottom: 1px solid gainsboro;margin-bottom: 1rem;background-color: ghostwhite}
.content.exam .title{ color: #333;margin-bottom: 10px;}
.content.exam .title span{ color: white;background-color: orange;width: 20px;height: 20px;border-radius: 10px;display: inline-block;text-align: center;line-height: 15px;}
.content.exam .answer{ color: #333333;border-bottom: 1px dashed gainsboro;}
.content.exam .answer div{ margin-bottom: 0.8rem;}
.conbox{ overflow:hidden; padding-bottom:1.2rem; color:#fff;}
.conbox1{ padding-bottom:0;}

.title1{ float:left; width:14%; max-width:6rem; min-width:4rem; background:#16c7bd; text-align:center; padding:0.6rem 3%; -moz-border-radius:0.7rem; -webkit-border-radius:0.7rem; border-radius:0.7rem; border-bottom:0.25rem solid #208b85;}
.line1{ float:left; width:7%; height:0.5rem; background:#208b85; margin-top:2.2rem;}
.input1{ float:left; width:60%; height:3rem; font-family:hyxmtj,Microsoft JhengHei; font-size:1.3rem; color:#208b85; -moz-border-radius:1.5rem; -webkit-border-radius:1.5rem; border-radius:1.5rem; margin-top:1rem; border:1px solid #16c7bd; padding:0 3%;}

.title2{ float:left; width:42.8%; background:#9cc716; text-align:center; line-height:3.4rem; -moz-border-radius:1.7rem; -webkit-border-radius:1.7rem; border-radius:1.7rem; border-bottom:0.25rem solid #839d15; min-width:11.8rem;}
.line2{ float:left; width:7%; height:0.5rem; background:#839d15; margin-top:1.5rem;}
.input2{ float:left; width:37%; height:3rem; font-family:hyxmtj,Microsoft JhengHei; font-size:1.3rem; -moz-border-radius:1.5rem; -webkit-border-radius:1.5rem; border-radius:1.5rem; margin-top:0.2rem; border:1px solid #9cc716; padding:0 3%; color:#9cc71e;}

.title3{ width:18%; padding:0.6rem 1%; min-width:5.4rem; max-width:8.3rem;}
.line3{ float:left; width:10%; height:0.5rem; background:#208b85; margin-top:5rem;}
.imgtj{ float:left; width:55%; height:10.6rem; -moz-border-radius:0.7rem; -webkit-border-radius:0.7rem; border-radius:0.7rem; border:1px solid #16c7bd; padding:0 3%; background:#fff; position:relative;}
.imgtj1{ margin-left:30%;}
.imgtj2{ margin-left:15%;}
.imgtj img{ width:96%; height:94%; background:url(../images/imgtj.png) center center no-repeat #fff; background-size:60%,60%; position:absolute; left:2%; top:3%;}
.imgtj input{ width:100%; height:100%; opacity:0; position:absolute; left:0; top:0; z-index:2;}
.imgtext{ width:97%; font-size:1.3rem; color:#208b85; padding-bottom:1.2rem;}
.imgtext1{ float:left; margin-left:30%; margin-top:0.4rem; padding-bottom:0;}

.line4{ margin-top:1.2rem;}
.sebox{ float:left; width:66%; overflow:hidden;}
.sebox select{ width:100%; margin-top:0; -webkit-appearance:none; background:url(../images/sebg.png) no-repeat #fff center right;}
.sebox span{ font-family:hyxmtj,Microsoft JhengHei; font-size:1.3rem; color:#208b85; margin-left:0.4rem;}
.input9{ width:93.2%; margin-top:0;}
.input4{ width:93.2%; text-align:center; margin-top:0.5rem;}

.line5{ width:10%;}

.title5{ width:19.8%; min-width:5.6rem; padding:0;}
.input5{ width:60%; height:15rem; padding:2% 3%; resize:none; color:#9cc716;}
.input51{ color:#208b85; border:1px solid #16c7bd;}

.title6{ width:94%; background:#fed700; text-align:center; line-height:3.4rem; -moz-border-radius:1.7rem; -webkit-border-radius:1.7rem; border-radius:1.7rem; border-bottom:0.25rem solid #d1a802; color:#fff; text-shadow:1px 1px 1px #d1a802;}
.line6{ width:62%; margin-left:14%; border-left:0.5rem solid #d1a802; border-right:0.5rem solid #d1a802; height:1.2rem;}
.datebox{ border:1px solid #d1a802; width:68%; margin-left:9%; -moz-border-radius:1.5rem; -webkit-border-radius:1.5rem; border-radius:1.5rem; padding:0 1rem; font-family:"Microsoft YaHei"; font-size:0.7rem; background:#fff; text-shadow:none;}
.datebox table{width:100%; border:none;}
.datebox table td{ text-align:center; line-height:2.6rem; -moz-border-radius:1.5rem; -webkit-border-radius:1.5rem; border-radius:1.5rem; border:none; padding:0.4rem 0;}
.datebox table td div{ line-height:1.2rem;}
.datebox table td.ab{border:1px solid #deaa5d; color:#deaa5d;}
.datebox table td.ab .subscribe{display:block;}
.datebox table td .subscribe{display:none;}

.input6{ width:94%; background:#f07a00; text-align:center; line-height:6rem; font-family:hyxmtj,Microsoft JhengHei; color:#fff; font-size:4.2rem; -moz-border-radius:3rem; -webkit-border-radius:3rem; border-radius:3rem; border-bottom:0.4rem solid #ce3d02; margin:2rem 0; text-shadow:0.5px 1px 1px #e3eab7;}

.input7{ width:65.4%; margin-top:0.2rem; -webkit-appearance:none; background:url(../images/sebg.png) no-repeat #fff center right; border:1px solid #9cc716; color:#9cc71e;}
.input71{ width:65.4%; -webkit-appearance:none; background:url(../images/sebg.png) no-repeat #fff center right;}
.input8{ width:60%; margin-top:0.2rem; border:1px solid #9cc716; color:#9cc71e;
}

.btext{ line-height:2.5rem; color:#d1a802; padding-top:1.2rem; overflow:hidden;}
.btext span{ float:left; display:inline-block; text-shadow:none;}
.btext input{ float:left; width:35%; height:2.5rem; line-height:2.5rem; border:1px solid #d1a802; margin:0 0.5rem; color:#d1a802;}
.btext1{ line-height:2.5rem; color:#d1a802; padding-bottom:0.7rem; text-shadow:none;}

.title4{ width:67.4%;}
.line7{ width:4%;}
.input10{ width:22%; background-size:24%,24%; font-size:2rem; padding-left:5%;}
.title7{ padding:2.5rem 3%}

.page img.banner{ width: 100%;display: inline-block;}
.page .navlist{ background-color: black;color: gray;font-size: medium;text-align: center;font-family: "Microsoft YaHei";margin-top: -1rem;}
.page .navlist a,.page .donav a{ margin-right: 1rem;margin-left: 1rem;color: gainsboro;cursor: pointer;display: inline-block;padding:1rem;}
.page .navlist a.active{ color:  #16c7bd;border-bottom: 3px solid #16c7bd;}
.page .donav{ background-color: #333;color: gray;font-size: small;text-align: center;font-family: "Microsoft YaHei";padding:4px;}
.page .donav a{ border: #222 1px solid;margin: 0;width: 70px;text-align: center;padding: 0.5rem;}
.page .donav a.left{ border-top-left-radius: 20px;border-bottom-left-radius: 20px;}
.page .donav a.right{ border-top-right-radius: 20px;border-bottom-right-radius: 20px;margin-left: -3px}
.page .donav  a.active{color:  #16c7bd;background-color: #222;padding-left: 1rem;}
.page .courselist li{ border-bottom: 1px solid gainsboro;font-size: medium;font-family:hyxmtj,Microsoft JhengHei;padding: 1rem;color: gray;text-indent: 1rem;}
.page .courselist li:hover{ color: #333;cursor: pointer;}
.photowarp{  padding: 1rem 3rem;font-family: hyxmtj,Microsoft JhengHei;font-size:2rem;}
.photoline{font-family:hyxmtj,Microsoft JhengHei;font-size: medium;border-bottom: 1px dashed gainsboro;padding: 1rem;}
.photoline div{ line-height: 2.2rem;}
.photoline .des{ padding-left: 1rem;}
.photoline .sebox select{ width: 48%;}
.photoName small{ float: right;}

.header div{font-family: "Microsoft YaHei";cursor: pointer; top: 50%;position: absolute;margin-top:-0.9rem;   height:1.8rem;  display: inline-block;font-size: medium;}
.header div.send{ right: 1rem;}
.header div.cancel{ left: 1rem;}
.photowarp img{ width: 100%;max-width: 500px;}
.photowarp .title{ text-align: center;font-family: hyxmtj,Microsoft JhengHei}
.photowarp .btn ,.abtn{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: hyxmtj,Microsoft JhengHei;
    color: #fff;
    font-size: 2.2rem;
    -moz-border-radius: 3rem;
    -webkit-border-radius: 3rem;
    border-radius: 3rem;
    margin: 2rem 0;
    text-decoration: none;
    background-color:#08e074;
    color: white;
    border-radius: 5px;
    text-shadow: 0.5px 1px 1px #e3eab7;
    border-color: transparent;

}
.abtn{ padding: 1rem;margin-right: 1rem;width: 80%;}
.photowarp .search{ border-top: 1px solid gainsboro;border-bottom: 1px solid gainsboro;}
.photowarp .pager{ text-align: center;}
.photowarp a{ text-align: center;text-decoration: none;color: #00bfff;font-size: medium;display: inline-block;padding: 1rem 0; border: #00bfff 2px solid;cursor: pointer;width: 40%;}
.photowarp a.up{ border-top-left-radius: 6px;border-bottom-left-radius: 6px;margin-right: -5px;}
.photowarp a.down{ border-top-right-radius: 6px;border-bottom-right-radius: 6px;margin-left: -5px;border-left: 0;}
.photowarp .list{ margin-top: 2rem;}
.photowarp .list .stuff{ border-bottom: 1px solid gainsboro;padding: 1rem;margin-top: 1rem; }
.photowarp .list .stuff img{ max-width: 40%;}
.photowarp .list .stuff .info{width: 50%; display: inline-block;vertical-align: top;font-size: medium;}
.photowarp .list .stuff .info .address{ color: gray;}


.validation-summary-errors ,.field-validation-error{ color: red;display: block;clear: both;text-align: right;margin-right: 2rem;}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 11%;
    text-align: center;
    font-family: hyxmtj,Microsoft JhengHei;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

 .rightanswer{ display: none;}

 
/*考试结果*/
.jgtitle{ width:92%; margin:auto; padding:1rem 0; text-align:center; color:#fff; background:#16c7bd; border-bottom:0.4rem solid #208b85; -o-border-radius:1rem; -moz-border-radius:1rem; -webkit-border-radius:1rem; border-radius:1rem; margin-top:10%;}
.jgbox{ width:74%; height:31rem; position:relative; margin:auto; margin-top:2rem;}
.jgimg{ width:18rem; height:18rem; background:url(../images/aqcsbtn.png) no-repeat; background-size:100%,100%; position:absolute; left:50%; top:0rem; margin-left:-9rem; z-index:2;}
.jgimg img{ width:15rem; height:12rem; position:absolute; left:50%; top:50%; margin-left:-7.5rem; margin-top:-6rem;}
.jgtext{ width:86%; height:11rem; position:absolute; left:0rem; top:15rem; padding:7%; padding-top:3rem; color:#fff; line-height:2.5rem; text-align:center; background:#9cc716; border-bottom:0.4rem solid #839d15; -o-border-radius:1rem; -moz-border-radius:1rem; -webkit-border-radius:1rem; border-radius:1rem;}
.jgbtn{ display:block; width:68%; line-height:4.2rem; font-size:3.4rem; color:#fff; text-align:center; background:#f07a00; border-bottom:0.4rem solid #ce3d02; -o-border-radius:2.1rem; -moz-border-radius:2.1rem; -webkit-border-radius:2.1rem; border-radius:2.1rem; margin:auto; margin-top:10%;}


/*安全课程*/
.kcimg{ width:92%; margin-left:4%; margin-top:1rem;}
.kcbox{ overflow:hidden; margin-top:-0.5rem;}
.marl1{ margin-left:1%;}
.kcblock{ width:32%; float:left; margin-right:1%;}
.kcblock .kctitile{ width:100%; line-height:3.5rem; height:3.5rem; font-size:2rem; text-align:center; background:#9cc716; border-bottom:0.25rem solid #839d15; color:#fff; -o-border-radius:1.75rem; -moz-border-radius:1.75rem; -webkit-border-radius:1.75rem; border-radius:1.75rem; position:relative; z-index:2;}
.kcblock a{ display:block; text-align:center; line-height:3.2rem; width:74%; margin:auto;}
.kcblock a.kcunfin{ background:#fff; border:1px solid #9cc716; color:#9cc716; padding-top:0.5rem; line-height:3rem; margin-top:-0.5rem;}
.kcblock a.kcfin{ background:#9cc716; color:#fff;}
.kcblock1 .kctitile{ background:#16c7bd; border-bottom-color:#208b85;}
.kcblock1 a.kcunfin{ color:#16c7bd; border-color:#16c7bd;}
.kcblock1 a.kcfin{ background:#16c7bd;}
.kcblock2 .kctitile{ background:#f07a00; border-bottom-color:#ce3d02;}
.kcblock2 a.kcunfin{ color:#f07a00; border-color:#f07a00;}
.kcblock2 a.kcfin{ background:#f07a00;}
.kclink{ width:100%; padding-top:1.2rem; padding-bottom:0.6rem;height: auto;}
.kclink .fristul>li>a{ width:100%; display:block; background:#f4f4f2; line-height:4rem; color:#6a5708; margin-bottom:0.5rem; -moz-box-shadow:1px 1px 5px #999; -webkit-box-shadow:1px 1px 5px #999; box-shadow:1px 1px 5px #999;}
.kclink .fristul>li>a span{ display:block; width:84%; margin:auto; background:url(../images/aqktlist.png) no-repeat center right; background-size:3%,auto; font-size:2.25rem;}
.kclink .fristul>li{ height: auto;margin-bottom: 5px;}
.kclink .secondul{ margin-top: -1rem;display: none}
.kclink .secondul li{ padding-left: 16%;line-height: 2rem;background: #f4f4f2; padding-bottom: 10px;}
.kclink .secondul li a{ font-size:1.5rem;border-bottom: 1px dotted gray;width: 80%;display: inline-block;}

/*三级菜单*/
.menu3 {
    height: 100vh !important; font-family: hyxmtj,Microsoft JhengHei;
    background: white;
}
.menu3 .dropdown-menu li {
    min-height: 4rem;font-size: 2.5rem;
    margin-bottom: 1px;
    padding: 1rem 1rem 1rem 8rem;
    height: auto;
    text-align: left;
}
.menu3 .banner{ text-align: center;}
.menu3 .banner img{  width: 100%;}
.menu3 .dropdown-menu li a{ color: white;}
.menu3 .dropdown-menu li:nth-child(1n) {
    background: rgb(156,199,22);
}
.menu3 .dropdown-menu li:nth-child(2n) {
    background: rgb(22,199,189);
}
.menu3 .dropdown-menu li:nth-child(3n) {
    background: rgb(240, 122, 0);
}
.menu3 .dropdown-menu li.door {
    background-image: url('images/door_50.png');
    background-repeat: no-repeat;
    background-position: 2rem 1rem;
}
.menu3 .dropdown-menu li.carmer {
    background-image: url('images/carm50.png');
    background-repeat: no-repeat;
    background-position: 2rem 1rem;
}
.menu3 .dropdown-menu li.huji {
    background-image: url('images/hj50.png');
    background-repeat: no-repeat;
    background-position: 2rem 1rem;
}
.menu3 .dropdown-menu li.stin {
    background-image: url('images/stin50.png');
    background-repeat: no-repeat;
    background-position: 2rem 1rem;
}
.menu3 .dropdown-menu li.sfin {
    background-image: url('images/sfin50.png');
    background-repeat: no-repeat;
    background-position: 2rem 1rem;
}
.menu3 .dropdown-menu li.jiin {
    background-image: url('images/jiin50.png');
    background-repeat: no-repeat;
    background-position: 2rem 1rem;
}

.wrapper {
    max-width: 550px;
    margin: 0 auto;
}
.databox #up  ,.databox #down {
    cursor: pointer;
}
.databox #down {
    float: right;
    margin-right:2rem;
}
.databox #up {
    float: left;
    margin-left:2rem;
}
.databox #up:hover ,.databox #down:hover {
    color: green;
}