@{
    ViewBag.Title = "免责申明";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page" id="shenming">
    <div class="loadbg">
        <div class="loadimg">
            <img src="/images/loading.png">
            <p>脑洞大开，好友一起猜 !</p>
        </div>
        <div class="logmz">
            <div class="mztitle">免责声明</div>
            <p>文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位文字占位</p>
            <input type="button" class="logbtn mzbtn" value="我知道了">
        </div>
    </div>

</div>