@model Niqiu.Core.Domain.Questions.Question
@foreach (var user in Model.Answers)
{
    <div class="hjbox">
        <div class="plbl">
            <a href="@Url.Action("Detail", "Firends", new { userid = user.User.Id })">
                <img src="@user.User.ImgUrl" class="pltx">

            </a>
            <div class="plright">
                <div class="plrbox">
                    <div class="plrboxl">
                        <span>@user.User.Username</span>
                        <div class="pltime">@user.SimpleTime()</div>
                    </div>
                </div>
                @if (Model.ValidAnswer(user.Content))
                {
                    <div class="plrtxt">答：&nbsp;******</div>
                }
                else
                {
                    <div class="plrtxt">答：&nbsp;@user.Content</div>
                }
            </div>
        </div>
    </div>
}