@using System.Collections
@{
    ViewBag.Title = "消息管理";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@model IEnumerable<Niqiu.Core.Domain.Messages.Message>
<style>
    .header img{width: 50px;height: 50px;}
</style>
@Html.Partial("_adminMap")
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>
            <div style="width: 300px;display: inline-block;margin-top:5px">
                <select id="sm">
                    <option value="1">最近五天</option>
                    <option value="2">最近一个月</option>
                    <option value="3">最近三个月</option>
                </select>
            </div>
        </div>
        <div class="widget-content nopadding">
            @Html.Action("ListPage")
        </div>
    </div>
</div>

<script>
    $("#sm").change(function() {
        var type = $(this).val();
        $.post("/admin/msg/ListPage", { timeType: type }, function(v) {
            $(".widget-content").html(v);
        });
    });
</script>

