@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
 
@Html.Partial("_adminMap")

<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>
           
        </div>
        <div class="widget-content nopadding">
            @Html.Action("ListPage")
        </div>
    </div>
</div>
<script>
    $(".deleta").click(function () {
        admin.deleteItem($(this), '@Url.Action("Delete")', "确定删除?");
    });
</script>

 

 
 
