<div id="content-header">
    <div id="breadcrumb">
        <a href="@Url.Action("Index", "Home")" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>后台首页</a>
        <a href="#" class="current">@ViewBag.Title</a>
    </div>
</div>