<nav id="footertabs" class="bar bar-tab">
    @*<a class="tab-item active" href="@Url.Action("Index","Home")">
        <span class="icon"><img src="~/images/navimg11.png" /></span>
        <span class="tab-label">谜题</span>
    </a>*@
    <a class="tab-item chuti" href="@Url.Action("CreateStep1","Question")">
    </a>
    <a class="tab-item resend die resendThisQuestion">
    </a>
    <a class="tab-item doanswer die" >
    </a>
    <a class="tab-item classical"  href="@Url.Action("Classical", "Home")">
    </a>
    <a class="tab-item wallet" data-no-cache="true" href="/UserCenter/Index">
    </a>
</nav>