@*<header class="bar bar-nav theme-dark">
    <a class="button button-link button-nav pull-left back" data-transition='slide-out'>
        <span class="icon icon-left"></span>
    </a>
    <h1 class="title">@ViewBag.Title</h1>
</header>*@