@using Microsoft.Ajax.Utilities
@model string
@{
    const int length = 30;       
} 
@if (Model.Length > length)
{
    <span title="@Model">@Model.Substring(0, length) ...</span>
}
else
{
    <span>@Model</span>
}