@{
    ViewBag.Title = "success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .content {
        padding: 0 !important;
    }
</style>
<div class="container">
    <div class="header"><a href="javascript:history.go(-1);"></a><span>预约申请</span></div>
    <div class="content bg full" style="text-align: center">
        <h2 style="color: green">预约成功！</h2>
        <p><a href="@Url.Action("Index","HuJi")">返回首页</a></p>
</div>
</div>
