@{
    ViewBag.Title = "关于";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page" id="userdetail">
    @Html.Partial("m_header")
    <div class="content">
        <div class="fkbox">
            <img src="~/images/tx.jpg">
            <h2>好油菜</h2>
            <span>v1.0</span>
        </div>
        <div class="szblock">
            <a href="#">
                <img src="~/images/szico.png">
                <p>有新的版本可用</p>
                <span>版本更新</span>
            </a>
        </div>
        <div class="szblock">
            <a href="@Url.Action("CommonQA")">
                <img src="~/images/szico.png">
                <span>问题反馈</span>
            </a>
        </div>
    </div>

</div>