@using Niqiu.Core.Domain.Payments
@using Niqiu.Core.Helpers
@model IEnumerable<Niqiu.Core.Domain.Payments.PaymentLog>
@foreach (var item in Model)
{
    <a class="zdlist zdmar">
        <div class="zdlitop">
            @{
              var tag = "-";
              var currenType = item.OrderType;

            }
            @if (item.OrderType == OrderType.PayReward && item.FromWalletId != ViewBag.MyWalletId)
            {
                //获得悬赏
                <span class="zdtxt">【@Html.EnumToText(OrderType.GetReward)】</span>
                currenType = OrderType.GetReward;
            }
            else
            {
                <span class="zdtxt">【@Html.EnumToText(item.OrderType)】</span>
            }
            @{
                if (currenType == OrderType.GetReward || currenType == OrderType.QuestionStrategyBack || currenType == OrderType.Recharge || currenType == OrderType.RewardBack)
                {
                    tag = "+";
                }
            }
            <span class="num">@tag@item.Amount.ToString("c")</span>
        </div>
        <div class="zdcon">@item.PayedRemark(ViewBag.MyWalletId)</div>

        <div class="zdtime">@item.SimpleTime()</div>
    </a>
}