@{
    ViewBag.Title = "我的银行卡";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="bankcards" class="page page-current">
    <div class="content">
        <div class="bankcard">
            <div class="row">
                <div class="col-25">
                    <img src="~/images/u14.png" />
                </div>
                <div class="col-75">
                    <div>中国建设银行  </div>
                    <div>储蓄卡</div>
                    <div>
                        <span style="font-size:20px;">**** **** **** **** </span>
                        978
                    </div>
                </div>
            </div>
        </div>

        <div class="bankcard">
            <div class="row">
                <div class="col-25">
                    <img src="~/images/u341.png" />
                </div>
                <div class="col-75">
                    <div>中国工商银行  </div>
                    <div>储蓄卡</div>
                    <div>
                        <span style="font-size:20px;">**** **** **** **** </span>
                        978
                    </div>
                </div>
            </div>
        </div>

        <a href="#addCard" class="yhkadd">＋添加银行卡</a>
    </div>
</div>

<div id="addCard" class="page">
    <div class="content">
        <div class="tjtop">请添加本人所持银行卡信息</div>
        <div class="zlbl tjbl">
            <span>持卡人：</span>
            <input type="text">
        </div>
        <div class="zlbl tjbl">
            <span>卡号：</span>
            <input type="text">
        </div>
        <a href="#addCardNext" class="tjbtn">下一步</a>
    </div>
</div>

<div id="addCardNext" class="page">
    <div class="content">
        <div class="tjtop">选择银行卡类型</div>
        <div class="zlbl tjbl">
            <span>卡类型：</span>
            <input type="text" value="招商银行 储蓄卡" readonly="" class="tjcol">
        </div>
        <div class="zlbl tjbl">
            <span>手机号：</span>
            <input type="number" placeholder="请输入银行预留手机号">
        </div>
        <div class="tjxy">
            <p><span>&nbsp;</span></p>
            <div>同意《<a href="#xieyi">用户协议</a>》</div>
        </div>
        <a href="#vecoed" class="tjbtn tjbtn1">下一步</a>
    </div>
</div>

<div id="xieyi" class="page">
    <div class="content">
        <div class="xybox">
            <h2>好油菜用户服务协议</h2>
            <p>用户协议：<br>在使用好油菜支付服务钱妈您应当阅读并遵守本协议、现在及将来共识的新增支付功能的单项协议或规则、操作是的提示以及业务规则。再次特别提醒您认真阅读并充分理解本协议和附属协议哥条款，特别是免除或限制本公司的责任。再次特别提醒您认真阅读并充分理解本协议和附属协议哥条款，特别是免除或限制本公司的责任。</p>
            <p>再次特别提醒您认真阅读并充分理解本协议和附属协议哥条款，特别是免除或限制本公司的责任。</p>
        </div>
    </div>
</div>

<div id="vecoed" class="page">
    <div class="content">
        <div class="tjtop">验证码已发送到手机：<span>183****5097</span>，请按提示操作。</div>
        <div class="tjblock">
            <div class="tjbltxt">获取验证码<br><span>60</span></div>
            <div class="tjblyzm"><input type="text" placeholder="输入验证码" id="tjyzm"><a>&nbsp;</a></div>
        </div>
        <div class="tjyzm"><a>收不到验证码？</a></div>
        <a href="#bankcards" class="tjbtn cgbtn">下一步</a>
    </div>
</div>