@{
    ViewBag.Title = "填写银行卡信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="mobile" class="page">
    @Html.Partial("m_header")
    <div class="content bkmi">
        <div class="list-block">
            <div class="smallgray textintend1">请绑定持卡人本人银行卡</div>
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">卡类型</div>
                            <div class="item-input">
                                <input type="text" value="中国建设银行" readonly="readonly"  >
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="setul">
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">手机号</div>
                            <div class="item-input">
                                <input type="text" value="请输入你的手机号"  >
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">验证码</div>
                            <div class="item-input">
                                <input type="text" value="请输入验证码">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="smallgray textintend1">同意服务协议</div>

        </div>
        <div class="content-padded"><a href="#" class="button button-fill  button-danger">下一步</a></div>
    </div>
</div>
