@{
    ViewBag.Title = "服务费记录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Niqiu.Core.Helpers
@model IEnumerable<Niqiu.Core.Domain.Payments.PaymentLog>
<div class="page">
    @Html.Partial("m_header")
    <div class="content">
        <div class="list-block">
            <ul>
                @foreach (var item in Model)
                {
                    <li class="item-content">
                        <div class="item-media"><i class="icon icon-f7"></i></div>
                        <div class="item-inner">
                            <div class="item-title">
                                <div>@CommonHelper.SimpleDate(item.CreateTime)</div>
                                <div>@item.CreateTime.ToShortTimeString()</div>
                            </div>
                            <div>@item.Amount.ToString("C")</div>
                            <div>购买服务花费</div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>