@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .szzhbtn {
        position: static;
        margin: 2rem auto;
    }
    .zlbl {
        width: 100%;
        margin-bottom: .5rem;
    }
    
</style>
<div id="changepwdpage" class="page">
    @Html.Partial("m_header")
    <div class="content">
        <div class="zlbl tjbl">
            <span>原密码：</span>
            <input id="oldpwd" type="password">
        </div>
        <div class="zlbl tjbl">
            <span>新密码：</span>
            <input id="newpwd" type="password" placeholder="6-16个字符，区分大小写">
        </div>
        <div class="zlbl tjbl">
            <span>确认密码：</span>
            <input id="compwd"  type="password" placeholder="6-16个字符，区分大小写">
        </div>
        <div style="padding: 0 3%;font-size: small"><a href="@Url.Action("ForgetPwd","Account")">忘记密码</a></div>
        
        <div style="text-align: center">
            <input type="button" class="szbtn szzhbtn tjbtn1" id="passwordbt" value="确认">
        </div>
            @*<div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">原密码</div>
                                <div class="item-input">
                                    <input id="oldpwd" type="password" placeholder="原密码" >
                                </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">新密码</div>
                                <div class="item-input">
                                    <input id="newpwd" type="password" placeholder="新密码">
                                </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">确认密码</div>
                                <div class="item-input">
                                    <input id="compwd" type="password" placeholder="确认密码">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="content-padded"><a id="passwordbt" class="button button-fill  button-danger">确定修改</a></li>
                </ul>
            </div>*@
        </div>
</div>
