@{
    ViewBag.Title = "问题反馈";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page" id="userdetail">
    @Html.Partial("m_header")
    <div class="content">
        <div class="tjtop" style="color: #333">描述遇到的问题或建议：</div>
        <div class="zlbl fkbl" style="background: rgb(243, 243, 244);">
            <textarea id="feeback"></textarea>
            <span>400字以内</span>
        </div>
        <div class="zlbl">
            <span>联系电话：</span>
            <input type="number" id="feedbackphone" placeholder="选填，便于我们联系你">
        </div>
        <input id="feebackbt" type="button" class="tjbtn" value="提交">

        @*<div class="content-padded">
            <div>
                <textarea  id="feeback"></textarea>
                <p class="smallgray">内容不少于10个字</p>
            </div>
            <div>
                <a id="feebackbt" style="margin-top: 2rem" class="button button-fill  button-danger">提交反馈</a>
            </div>

        </div>*@
     
    </div>
</div>
