@{
    ViewBag.Title = "ConnectService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
</style>
<div class="page page-current">
    @Html.Partial("m_footer")
    <div class="content">
        <img class="w100" src="~/v2/imgs/service.jpg" />
    </div>
</div>
