@{
    ViewBag.Title = "忘记支付密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
        .yzmbox .inputbox input{width:96%;}
    .regyzm{margin: 0 auto;}
</style>
<div class="page" id="forgetpaypwd">
    <div class="logbg">
        <div class="logtitle">忘记支付密码</div>
        <div class="regnum">
            <input type="tel" id="regtel" value="@ViewBag.Mobile" readonly="readonly"  >
            <input type="button" id="getvcode" value="获取验证码" readonly>
        </div>
        <div class="regyzm">
            <p>输入你手机收到的4位验证码</p>
            <div class="yzmbox">
                <div class="inputbox">
                    <input type="number" />
                </div>
            </div>
        </div>
        <div class="inputbox">
            <input type="text" id="regpwd" value="输入新密码" onfocus="if(this.value==defaultValue) {this.value='';this.type='password'; this.style.color='#505050';}" onblur="if(!value) {value=defaultValue; this.type='text'; this.style.color='#c5cdb0';}">
            <input type="text" id="crep" value="再次输入新密码" onfocus="if(this.value==defaultValue) {this.value='';this.type='password'; this.style.color='#505050';}" onblur="if(!value) {value=defaultValue; this.type='text'; this.style.color='#c5cdb0';}">
        </div>
        <input type="submit" id="forgetpaybt" class="logbtn logbtn1" value="确定修改">
    </div>
    <div class="btmbg"></div>

</div>
<script>
    //todo 手机号是不应该输入的！
    $(document).off("click", "#forgetpaybt");
    $(document).on("click", "#forgetpaybt", function () {
        var mobile = $("#regtel").val();
        var pwd = $("#regpwd").val();
        var cpwd = $("#crep").val();
     //   var code = $(".yzmbox input").eq(0).val() + $(".yzmbox input").eq(1).val() + $(".yzmbox input").eq(2).val() + $(".yzmbox input").eq(3).val();
        var code = $(".yzmbox input").eq(0).val();
        if (!mobile) {
            $.toast("请输入手机号码");
            return;
        }
        if (pwd != cpwd) {
            $.toast("两次输入密码不一致");
            return;
        }
        console.log("code", code);
        $.post('@Url.Action("ForgetPayPassword")', { code: code, password: pwd }, function (res) {
            if (res === true) {
                $.toast("修改成功");
                setTimeout(function () {
                    location.href = '@Url.Action("Index","Home")';
                }, 1000);
            } else {
                $.toast(res);
            }
        });
    })

</script>