@model Niqiu.Core.Domain.User.User

@{
    ViewBag.Title = "修改头像";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="portrait" class="page">
    @Html.Partial("m_header")
    @Html.Partial("m_footer")
    <div class="content">
        修改头像
    </div>
</div>