@{
    ViewBag.Title = "设置支付密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .zlbl {
        width: 100%;
        margin-bottom: .5rem;
    }
    .tjbl input{width: auto;}
    .tjbl span{width: 4rem;}
    .szzhbtn {
        position: static;
        margin: 1rem auto;
    }
</style>
<div id="setPayPassword" class="page">
    @Html.Partial("m_header")
    <div class="content">
        <div class="zlbl tjbl">
            <span>支付密码：</span>
            <input id="newpwd" type="password" maxlength="6" placeholder="请输入6个数字">
        </div>
        <div class="zlbl tjbl">
            <span>确认密码：</span>
            <input id="compwd" type="password" maxlength="6" placeholder="请输入6个数字">
        </div>
        <div style="font-size: small;text-align: center;">您还未设置你的支付密码,请先设置你的支付密码</div>
        <div style="text-align: center">
            <input type="button" class="szbtn szzhbtn tjbtn1" id="setpaypasswordbt" value="确认">
        </div>
        <input type="hidden" value="@ViewBag.Url" id="rurl"/>
    </div>
</div>
 