@{
    ViewBag.Title = "提现";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Niqiu.Core.Domain.User.User
<style>
    .cashtitle {
        background-color: #5e9826;padding: .5rem;color: white;
    }
    .yue{color: #5e9826;} .cashtitle strong {
        margin: 0 3px;
    }
    .cline{color: #333;margin-bottom: 1rem;} .gsr {
        color: gray;
        float: right;
        font-size: small;
    }
    .cashline{font-size: 1rem;font-weight: bold;margin-bottom: 1rem;}
    .cashline input{border: none;}
    .cashinfo {font-size: small;text-align: center;}
        .cashinfo a{color: #5e9826;} .cashbt {
            width: 96%;
            margin: .5rem auto;
            background-color: #c2c0c0;
            color: white;
            height: 2rem;
            line-height: 2rem;
            font-size: 1rem;
            border-radius: 2rem;
            text-align: center;
        }
     .xieyi{font-size: small;overflow: visible}

            .cashbt.active {
                background-color: #5e9826;
            }
</style>
<div class="page page-current">
    <div class="content">
        <div class="cashtitle">提现到<strong>@Model.Username</strong>的微信</div>
        <div class="content-padded">
            <div class="cline">提现金额:<span class="gsr">最低1元，以及1元的整数倍</span></div>
            <div class="cashline">
                <span>￥</span>
                <input type="number" data-cash="@ViewBag.Cash" value="0" id="cashmoney" />
            </div>
            <div class="yue">
                现有余额<span>@ViewBag.Cash.ToString("c")</span>
                <span class="gsr">7个工作日内到账</span>
            </div>
            <div class="cashbt">提现</div>
            <div class="cashinfo">提现即表示同意<a href="#xieyi">《好油菜钱包协议》</a></div>
        </div>
    </div>
</div>
<div class="page" id="xieyi">
    <div class="content">
        <div class="content-padded xieyi">
          <h3> 好油菜钱包服务协议</h3>
            感谢您使用好油菜钱包服务。好油菜钱包服务协议（以下简称“本协议”）由北京粘粘科技有限公司（以下简称“粘粘”）和您签订。<br/>
            <h3>
                一、好油菜钱包服务协议的确认
            </h3>
                1.    粘粘在此特别提醒您在使用好油菜钱包服务之前，请认真阅读本协议，确保您充分理解本协议项下各条款的含义。请您审慎阅读并选择接受或不接受本协议。除非您接受本协议所有条款，否则您无权使用好油菜钱包服务。您的使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。<br />
                2.    本协议可由粘粘随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可在本平台查阅最新版协议条款。在粘粘修改协议条款后，如果用户不接受修改后的条款，请立即停止使用好油菜钱包服务，用户继续使用好油菜钱包服务将被视为接受修改后的协议。<br />
                3.    如您为无民事行为能力人或限制民事行为能力人，请告知您的监护人，并在您监护人的指导下阅读本协议和使用好油菜钱包服务。<br />
            <h3> 二、好油菜钱包服务相关定义</h3>
                1.    好油菜钱包账户（或称“账户”）：指您使用微信号登陆本平台并同意本协议后获得的、以您使用本平台服务粘粘向您提供的转赠服务所对应的基本账户。您取得好油菜钱包账户后，微信号即成为您好油菜钱包账户账号。<br />
                2.    账户余额：指您参与出谜题服务事先向粘粘预付转赠给第三方的未被答对到期退款，或参与猜谜题收获的被转赠款。可以用于抵扣好油菜平台服务对价款的款项数额。<br />
                3.    好油菜钱包支付密码：指当您使用您好油菜钱包内的余额向粘粘支付粘粘向您提供的服务对应的价款时，需由您输入的、由您事先设定的、以确认您同意支付相应款项的一串数字或数字与字母或符号的组合。<br />
                5.    身份要素：指粘粘用于识别您身份的信息要素，包括但不限于您的微信号、手机号、好油菜钱包账户、支付密码、短信校验码、身份证件号码等。<br />
                6.    本平台：除本协议另有规定外，指“粘粘”移动应用好油菜微信公众平台账号。<br />
                7.    有权机关：指依照法律法规等有权要求查询、冻结或扣划资金等措施的单位，包括但不限于公安机关、检察院、法院、海关、税务机关。<br />
                8.    冻结：指有权机关要求的冻结。被冻结余额不能用于支付、转出或发红包等，被冻结账户不可登录、使用。<br />
                9.    限制：指除冻结情况之外，好油菜钱包的部分或全部功能不能使用，好油菜钱包账户余额不能使用。<br />
                10.  止付：限制措施的一种，指好油菜钱包余额不能使用，例如不能用于支付、转出或发谜题等服务。<br />
                11.  余额服务：指您在好油菜钱包内的预付款余额可以用于抵扣你应该向粘粘支付好油菜平台向您提供的服务的对价款，诸如购买答案提示，以及基于您的申请并在粘粘同意的情况下将全部或部分预付款余额退还给您本人、按您的指示划拨或退还到你登录的微信钱包账户内。<br />
            <h3>  三、好油菜钱包为您提供的服务内容</h3>
                1.   支付服务，您可以用您的好油菜钱包余额中的同等数额抵扣未来任意时间您向好油菜平台购买服务时应向粘粘支付的对价款，诸如出谜题、购买答案提示等。抵扣成功后，您好油菜钱包内的余额将被相应扣减。<br />
                2.    转出服务，您可以向粘粘申请将您好油菜钱包的全部或部分余额退还您本人，经粘粘同意后，粘粘会将相应数额的款项以不计任何利息的方式退还给您本人。<br />
                4.    发谜题，您可以向粘粘申请将您好油菜钱包的全部或部分余额转出并转赠给您指定的本平台用户中的第三人或将特定数额的余额利用本平台的随机分配规则转赠给特定的一群人，经粘粘同意后，粘粘将依据该等第三人的选择和指示将相应数额的款项存入到其好油菜钱包账户中。<br />
            <h3>  四、 好油菜钱包账户的登录和使用</h3>
                1.    登录<br />
                您可以通过微信号码登录，即可使用部分好油菜钱包服务；您还可以进一步申请并通过粘粘验证后，使用更多好油菜钱包服务。具体验证方式以本平台内的提示为准。<br />
                2.    使用<br /> 身份要素是粘粘识别您身份的依据，请您务必妥善保管。使用身份要素进行的任何操作、发出的任何指令均视为您本人做出。因您的原因造成的账户、密码等信息被冒用、盗用或非法使用，由此引起的一切风险、责任、损失、费用等应由您自行承担。您同意：<br />
                （1）    基于不同的终端以及您的使用习惯，粘粘可能采取不同的验证措施识别您的身份。例如您的好油菜钱包账户在新设备首次登录的，粘粘可能通过密码加校验码的方式识别您的身份。<br />
                （2）    为保障您的预付款安全，请把手机及其他设备的密码设置成与好油菜钱包账户的密码不一致。如您发现有他人冒用或盗用您的微信号或者粘粘钱包密码，或您的手机或其他有关设备丢失时，请您立即以有效方式通知粘粘；您还可以向粘粘申请暂停或停止全部或部分好油菜钱包服务。<br />
                （3）    微信号及好油菜钱包账号仅限您本人使用，不可转让、借用、赠与、继承，但好油菜钱包账户内的相关财产权益可被依法继承。<br />
                （4）    基于运行和交易安全的需要，粘粘可以暂停或者限制好油菜钱包服务部分功能，或增加新的功能。<br />
            <h3>
                五、 使用好油菜钱包服务的注意事项
            </h3>
                1.    身份验证    <br />
                您在使用好油菜钱包服务过程中，特别是当你向粘粘支付的预付款数额或申请转出的预付款数额较大时，为了确保您的合法权益并确保您的行为符合国家相关法律法规，粘粘有权要求您提供合法、真实、有效及完整的资料（包括但不限于身份证、绑定经验证的第三方支付平台支付账户、户口本、护照、营业执照、开户许可证等证明、联系方式、从事职业、通讯地址）对你进行身份认证。为了及时有效地验证您的信息（包括但不限于身份信息、银行账户信息等），根据法律法规及监管规定或粘粘认为有需要时，您同意我们可以把您的信息提供给第三方，也同意第三方可以把您的信息提供给粘粘，以便粘粘进行验证。您应确保粘粘平台绑定的电子邮箱、手机号和第三方支付平台支付账户均为您本人合法所有。<br />
                2.    存在如下情形时，粘粘会对您名下的好油菜钱包账户或对余额进行止付，且有权限制您所使用的产品或服务功能：<br />
                （1）    您违反了本协议的约定；<br />
                （2）    根据法律法规及法律文书的规定；<br />
                （3）    根据有权机关的要求；<br />
                （4）    您的好油菜钱包账户操作、余额流向等存在异常时；您的好油菜钱包账户可能产生风险的；<br />
                （5）    您遭到他人投诉，且对方已经提供了一定证据的；<br />
                （6）    您可能错误地操作他人微信号或好油菜钱包账户，或者将微信号或好油菜钱包账户进行了身份验证的。<br />
                （7）    除（2）、（3）规定的情形外，如您申请恢复服务、解除上述止付或限制，请您向粘粘提供相关资料及身份证明等文件，以便粘粘进行核实。<br />
                （8）    如粘粘依据上述（1）、（2）、或（3）规定的情形将您的好油菜钱包账户永久封禁，则粘粘将安排将您的好油菜钱包余额退还至您绑定的第三方支付平台支付账户，如您绑定的第三方支付平台支付账户原因退还不成功或您未绑定第三方支付平台支付账户的，则需请您提供相关资料及身份证明等文件向粘粘申请余额退还。<br />
            <h3>
                六、好油菜钱包服务规则
            </h3>
                    1.   好油菜钱包服务中您可以转出的数额、您可以转赠给第三方的数额等，可能因您风险控制、身份要素验证、保障您合法权益等事由而有不同，具体额度请见本平台内的提示或公告。
                    2.   您认可您好油菜钱包内余额的使用记录、交易数据等均以粘粘系统记录为准。如您对该等数据存有异议的，可及时向粘粘提出异议，并提供相关证据供粘粘核实。
                    3.   您在使用好油菜钱包服务过程中，本协议内容、本平台上出现的关于操作的提示或粘粘发送到手机的信息内容是您使用好油菜钱包服务的相关规则。
                    4.   粘粘会以好油菜平台内公告、电子邮件、发送短信、电话、站内信或客户端通知等方式向您发送通知，例如通知您好油菜钱包余额充值或抵扣进展情况，或者提示您进行相关操作，请您及时予以关注。
                    5.   您应自行承担您使用好油菜钱包服务期间的任何货币贬值、粘粘提高相关商品或服务价格等风险。
            <h3>七、服务费用</h3>
                    一般情况下，粘粘不会向您收取好油菜钱包服务费，但当您申请将好油菜钱包余额转出或以发送红包等形式转赠给第三方时，粘粘因需要将您的钱包余额按您的指示退还到你指定的第三方支付平台支付账户，该等支付平台会因此向粘粘收取一定的手续费，所以粘粘会要求您来自行承担这部分手续费。<br />
            <h3> 八、用户合法使用好油菜钱包服务的承诺</h3>
                    1.    您应遵守中华人民共和国相关法律法规及您所属、所居住或开展经营活动或其他业务的国家或地区的法律法规，不得将好油菜钱包服务用于任何非法目的（包括洗钱等非法活动），也不得以任何非法方式使用好油菜钱包服务。<br />
                    2.    您不得利用好油菜钱包服务从事侵害他人合法权益之行为，否则粘粘有权进行调查、延迟结算或拒绝提供好油菜钱包服务，且您应承担所有相关法律责任，因此导致粘粘或其他方受损的，您应承担赔偿责任。<br />
                    3.    上述1和2适用的情况包括但不限于：<br />
                    1)    侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益。<br />
                    2)    违反依法定或约定之保密义务。<br />
                    3)    冒用他人名义使用好油菜钱包服务。<br />
                    4)    从事不法交易行为， 如洗钱、恐怖融资、贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品、其他粘粘认为不得使用好油菜钱包服务进行交易的物品等。<br />
                    5)    提供赌博资讯或以任何方式引诱他人参与赌博。<br />
                    6)    从事任何可能侵害好油菜钱包服务系统、数据之行为。<br />
                    4.    您理解，好油菜钱包服务有赖于系统的准确运行及操作。若出现系统差错、故障或其他原因引发的展示错误、您或粘粘不当获利等情形，您同意粘粘可以采取更正差错、扣划款项等适当纠正措施。<br />
            <h3>   九、权益保障及隐私保护</h3>
                    1.   用户预付款安全保障<br /> 粘粘始终重视保护用户的预付款安全，将自有资金和用户转赠款分开存放，承诺不挪用、占用用户转赠款。如您在使用好油菜钱包服务过程中，由于您的粘粘钱包账户或密码被盗用造成的转赠款损失，经粘粘同意，您可授权粘粘代表您向相关责任第三方或赔付机构进行追偿。您与粘粘另有约定的除外。<br />
                    2.   用户权益及隐私权保护<br /> 粘粘重视对用户合法权益的保障和隐私的保护。关于您的身份资料和其他特定资料依本平台《好油菜用户协议》受到保护与规范，您的合法权益粘粘承诺按本平台《好油菜用户协议》及本协议的相关约定给予保障。<br />
            <h3>  十、不可抗力、免责</h3>

                    因下列原因导致粘粘无法正常提供服务，粘粘不承担任何责任：<br />
                    （1）    好油菜平台系统停机维护或升级；<br />
                    （2）    因台风、地震、洪水、雷电或恐怖袭击等不可抗力原因；<br />
                    （3）    用户的手机等移动通信终端软硬件和通信线路、供电线路出现故障的；<br />
                    （4）    用户操作不当或通过非粘粘授权或认可的方式使用好油菜钱包服务的；<br />
                    （5）    因病毒、木马、恶意程序攻击、网络拥堵、系统不稳定、系统或设备故障、通讯故障、电力故障、银行原因 、第三方服务瑕疵或政府行为等原因。<br />
                    （6）    尽管有前款约定，粘粘将采取合理行动积极促使服务恢复正常。<br />
            <h3>
                十一、完整协议
            </h3>
                本协议由粘粘《好油菜用户协议》、《好油菜钱包服务协议》条款与好油菜平台不时公示的各项规则组成，各项规则有约定，而本协议条款没有约定的，以各项规则约定为准。本协议部分内容被有管辖权的法院认定为违法或无效的，不影响其他内容的效力。<br />
            <h3>
                十二、知识产权的保护
            </h3>
                    1.   粘粘及关联公司所有系统及本平台上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由粘粘或粘粘关联公司依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。<br />
                    2.   非经粘粘公司书面同意，任何人不得擅自使用、修改、反向编译、复制、公开传播、改变、散布、发行或公开发表本网站程序或内容。<br />
                    3.   尊重知识产权是您应尽的义务，如有违反，您应承担损害赔偿责任。<br />
            <h3>
                十三、 法律适用与管辖
            </h3>

                        本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，均应依照中华人民共和国法律予以处理，并由粘粘所在地人民法院管辖。<br />
</div>
    </div>
</div>
 
<script>
    function activebt() {
        $(".cashbt").addClass("active");
    }

    function disablebt() {
        $(".cashbt").removeClass("active");
    }

    setInterval(function() {
        var cash = $("#cashmoney").data("cash");
        var money = $("#cashmoney").val();
        if (money < 1) {
            disablebt();
            return;
        }
        if (money >= 1 && money <= cash) {
            activebt();
        }

    }, 400);


</script>