@{
    ViewBag.Title = "微信支付";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page" id="Wxpayment">
    <div class="content">
        <div>订单详情：@Html.Raw(ViewBag.unifiedOrder)</div>
        <button id="h5pay" onclick="callpay()">支付</button>
    </div>
    <input type="hidden" value="@ViewBag.OrderNumber" id="ordernum"/>
</div>
 
<script type="text/javascript">

    //调用微信JS api 支付
    function jsApiCall() {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            @Html.Raw(ViewBag.wxJsApiParam),//josn串
            function (res)
            {
                WeixinJSBridge.log(res.err_msg);
                //alert(res.err_code + res.err_desc + res.err_msg);
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                    //充值进去 要区分是出题充值 还是购买悬赏 前者冲到他的钱包
                    //后者直接冲到系统账户
                    var num = $("#ordernum").val();
                    $.post("/payment/WeiXinPaySuccess", { ordernumber: num }, function(data) {
                        if (data.IsSuccess === true) {
                           // alert("支付成功");
                            location.href = document.referrer;
                        }
                    });
                } 
                if (res.err_msg == 'get_brand_wcpay_request:cancel') {
                      $('.button').removeAttr('submitting');
                     // alert('取消支付');
                } 
            }
        );
    }

    function callpay()
    {
        if (typeof WeixinJSBridge == "undefined")
        {
            alert("WeixinJSBridge =");
            if (document.addEventListener)
            {
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }
            else if (document.attachEvent)
            {
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }
        else
        {
            jsApiCall();
        }
    }

</script>