@{
    ViewBag.Title = "支付";
}
<style>
    .container .row{ margin-left: 0;margin-right: 0;}
    .page-header .header img{width:40px;}
    .page-header .row div,.payinfo{padding-left: 0;}
     .row .paymoney{text-align: right;}
    .payinfo img{height: 30px;}
    .payinfo span{vertical-align: middle;color: gray}
    .paymoney span.warning{color:orangered;margin: 0 5px;}
     .qrcode {width: 200px;height: 200px; display: block;margin-top: 20px;margin-bottom: 20px;}
     .payqr img{width: 200px;}
</style>
<div class="container">
    <div class="row">
        <div class="page">
            <div class="page-header">
                <div class="row header">
                    <h2><img src="~/WxPayAPI/imgs/logo.png" /> 收银台</h2>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p>订单编号：@ViewBag.Order.TradeNumber</p>
                    </div>
                    <div class="col-md-4 paymoney">
                        <h2>应付金额：@ViewBag.Order.Amount.ToString("c")</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 payinfo">
                    <img src="~/WxPayAPI/imgs/WePayLogo.png" />
                    <img src="~/WxPayAPI/imgs/按钮标签.png" />
                    <span>亿万用户的选择，更快更安全</span>
                </div>
                <div class="col-md-4 paymoney">支付<span class="warning">@ViewBag.Order.Amount.ToString("c")</span>元</div>
            </div>
            <div class="row payqr">
                <img src="@ViewBag.QRCode" class="qrcode"  />
                <img src="~/WxPayAPI/imgs/说明文字.png" />
            </div>
            <input type="hidden" id="trade" value="@ViewBag.Order.TradeNumber"/>
         
        </div>
    </div>
</div>

<script>
    $(function() {
        var trade = $("#trade").val();
        setInterval(function() {
            $.post("/Checkout/PaymentResult", { tradeno: trade }, function (data) {
                if (data == 1) {
                    location.href = "/Checkout/PaidSuccess?tradeno=" + trade;
                } if (data == 2) {
                    location.href = "/Checkout/PaidSuccess?tradeno=" + trade;
                }
            });
        }, 1000);

    });
  

</script>