
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chat</h2>

<div id="messages">


 </div>
<input type="text" id="content" value=""/>
<button id="sendbt">发送</button>
<script>



</script>