@{
    ViewBag.Title = "Talk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .loginpage{ display: none;}
    .chat{ display: block;font-size: small}
    .messagelist{ border: 1px seagreen solid;min-height: 100px;width: 100%;}
    input[type='text']{ border: 1px solid gainsboro;}
    .left{text-align: left}
    .right{text-align: right}
    .unread,.unread a{ color: red;}
    #file_upload{color: aqua}
</style>
<script src="~/Content/plupload-2.1.8/js/plupload.full.min.js"></script>
<h2>Talk</h2>
<div>
    <div class="loginpage">
        <h1>Login</h1>
        <input type="text" id="username" value="stoneniqiu" /> <br/>
        <input type="text" id="password" value="123456" />
        <button id="loginbtn">登陆</button>
        <div class="log">
        </div>    
    </div>
    <div class="chat">
        <div id="userName"></div>
        <div id="userId"></div>
        <div class="messagelist">
        </div>
        <ul id="userlist">

        </ul>
        <input type="text" id="text" />
        <button id="sendmsg">发送</button>
        <a id="pickfiles">上传</a>
    </div>
</div>
<script>
    //判断有没有token
    var token = localStorage.token;
    var touserId,sender;
    if (!token) {
        $(".loginpage").show();
        $(".chat").hide();
    } else {
        $(".loginpage").hide();
        $(".chat").show();
        getUserInfo();
    }
    //登录处理
    $("#loginbtn").click(function() {
        var username = $("#username").val();
        var pwd = $("#password").val();
        $.post("/api/Identy/login",
            { uname: username, pwd: pwd },
            function(data) {
                $("#token").val(data.Data);
                localStorage.token = data.Data;
                setTimeout(getUserInfo, 100);
                $(".loginpage").hide();
                $(".chat").show();
                //获取解析
                $(".log").html(JSON.stringify(data));
            });
    });
    //发送消息
    function sendMsg(msg) {
        $.post("/api/Message/SendMessage",
            { sender: sender, msg: msg, toId: touserId, token: localStorage.token },
            function(res) {
                console.log(res);
                if (res.Code == "001") {
                    //发送成功
                    //$(".messagelist").append("<div class='right'>"+msg+"</div>");
                }
            });
    }

    $("#sendmsg").click(function() {
        var msg = $("#text").val();
        sendMsg(JSON.stringify({type:"001",content:msg}));
        $("#text").val("");
    });
    var maxIndex = 0;
    //type 001 正常聊天
    //type 002  图片消息

    //要考虑到历史消息
    function getMsg() {
        if (!touserId || !sender) return;
        $.post("/api/Message/GetMessageByIndex",
            { sender: sender, reciver: touserId, index: maxIndex, token: localStorage.token },
            function(res) {
                if (res.Count > 0) {
                    res.Count && console.log(res);
                    for (var i = 0; i < res.Count; i++) {
                        var item = res.Data[i];
                        try {
                            var msgitem = JSON.parse(item.Content);
                            //区分是消息还是普通回执
                            if (msgitem.hasOwnProperty("type")) {
                                switch (msgitem.type) {
                                case "001":
                                    if (sender == item.SenderId) {
                                        //自己说
                                        var unread = "";
                                        if (!item.IsRead) {
                                            unread = "unread";
                                        }

                                        $(".messagelist").append("<div id=" + item.MsgId + "  class='right " + unread + "'>" + msgitem.content + "</div>");
                                    } else {
                                        //别人说
                                        readMsg(item.MsgId);
                                        $(".messagelist").append("<div id="+item.MsgId+" class='left'>" + msgitem.content + "</div>");
                                    }
                                    break;
                                case "002":
                                    //发送的图片消息
                                    if (sender == item.SenderId) {
                                        //自己说
                                        var unread = "";
                                        if (!item.IsRead) {
                                            unread = "unread";
                                        }

                                        $(".messagelist").append("<div id=" + item.MsgId + "  class='right " + unread + "'><a href='"+msgitem.url+"'>" + msgitem.fileName + "</a></div>");
                                    } else {
                                        //别人说
                                        readMsg(item.MsgId);
                                        $(".messagelist").append("<div id=" + item.MsgId + " class='left'><a href='" + msgitem.url + "'>" + msgitem.fileName + "</a></div>");
                                    }
                                    break;
                                default:
                                }
                            }
                        } catch (e) {

                        } 
                       
                    }
                    maxIndex += res.Count;
                }
            });
    }
    //不断的在轮询
    setInterval(getMsg, 2000);

    var logindex = 0;
    //处理已读未读
    setInterval(function() {
        if (!touserId || !sender) return;

        //历史消息处理 然后再去getMsg

        //有未读的消息才去检查
        if ($(".unread").length <= 0) return;

        $.post("/api/Message/GetMsgLogs",
            { sender: touserId, reciver: sender, index: logindex, token: localStorage.token },
            function(res) {
                //收到之后 进行处理
                res.Count&&console.log(res);
                for (var i = 0; i < res.Count; i++) {
                    var item = res.Data[i];
                    if (item.IsRead) {
                        $("#" + item.MsgId).removeClass("unread");
                    }
                }
                logindex += res.Count;
            });
    }, 2000);


    //读消息
    //发送回执
    //处理界面
    function readMsg(msgId) {
        if (!msgId || msgId.length < 20) return;
        $.post("/api/Message/ReadMessage",
            //读的是别人发来的消息，所以发送者是对方
            { userId: sender, msgId: msgId, senderId: touserId, token: localStorage.token },
            function(res) {
                //处理字体
                // $("#" + msgId).removeClass("unread");
            });
    }

    function getUserInfo() {
        $.post("/api/Identy/Authen?token=" + localStorage.token,
            function (res) {
                if (res.Code == "001") {
                    loadinit(localStorage.token);
                    var list = res.Data;
                    $("#userName").html(list[1]);
                    $("#userId").html(list[0]);
                    getuserlist(list[0]);
                    sender = list[0];
                } else {
                    localStorage.token = null;
                    $(".loginpage").show();
                    $(".chat").hide();
                }
             
            });
    }

    function getuserlist(userid) {
        $.get("/api/Identy/GetOtherUsers?userid=" + userid,
            function (res) {
                for (var i = 0; i < res.length; i++) {
                    $("#userlist").append("<li>" + res[i] + "</li>");
                }
            });
    }

    $("#userlist").on("click", "li", function () {
        var li = $(this).html();
        console.log(li);
        touserId = li;
    });


    function loadinit(accessToken) {
        console.log("init",accessToken);
        var uploader = new plupload.Uploader({
            runtimes: 'flash,html5,silverlight,html4',
            browse_button: 'pickfiles',
            multi_selection: false,
            url: '/api/FileService/Upload',
            /* flash_swf_url: '/Robot2.0.6/Js/plupload-2.1.8/js/Moxie.swf',
             silverlight_xap_url: '/Robot2.0.6/Js/plupload-2.1.8/js/Moxie.xap',*/
            flash_swf_url: '~/Content/plupload-2.1.8/js/Moxie.swf',
            silverlight_xap_url: '~/Content/plupload-2.1.8/js/Moxie.xap',
            headers: {
                "token": accessToken,
            },
            filters: {
                max_file_size: "10mb",
                mime_types: [
                ]
            },
            init: {
                PostInit: function () {
                },
                FilesAdded: function (up, files) {
                    plupload.each(files, function (file) {
                        uploader.start();

                    });
                },
                UploadProgress: function (up, file) {
                },
                Error: function (up, err) {
                    if (err.code === -601) {
                       // imClient.showerrorInfo("请选择图片上传!");
                        return;
                    }
                    if (err.message) {
                       // imClient.showerrorInfo(err.message);
                    }
                }
            }
        });
        uploader.init();
        uploader.bind('FileUploaded', function (upldr, file, object) {
            console.log(object);
            var data = JSON.parse(object.response);
            if (data.Code == "001" && data.Count > 0) {
                for (var i = 0; i < data.Count; i++) {
                    var item = data.Data[i];
                    sendMsg(JSON.stringify({
                        type: "002",
                        url: item.WebPath,
                        fileName: item.RawName,
                        guid: item.GuId
                    }));
                    //显示在界面上

              }
            }

        });
        console.log(uploader)
    }

</script>