@{
    ViewBag.Title = "谜题详情";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@using Niqiu.Core.Helpers
@model Niqiu.Core.Domain.Questions.Question

@Html.Partial("_adminMap")
<div class="container-fluid">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>@ViewBag.Title</h5>

        </div>
        <div class="widget-content nopadding">
             <div class="row text-center"><h4>@Model.Title</h4></div>
            <div class="row text-center">
                <div class="col-md-12">作者:@Model.User.Username     发布时间:@Model.SimpleTime()</div>
                <div class="col-md-12">
                    <img src="@Model.ImageUrl" />
                </div>
                <div>答案:@Model.Answer</div>
                <div class="col-md-12">
                    <span>悬赏:@Model.Reward.ToString("c")</span>
                    <span>悬赏模式:@Html.EnumToText(Model.RewardType)</span> 
                    <span>悬赏人数:@Model.RewardPeopleNum</span>
                    <span>评论数:@Model.CommentNum</span>
                    <span>点赞数:@Model.PraisesNum</span>
                </div>
            </div>
        </div>
    </div>
</div>
